@import url(https://fonts.googleapis.com/css?family=Nunito);

.fileinput .uneditable-input {
    width: 150px !important;
}

.fileinput .input-group {
    width: 150px !important;
    border-collapse: separate !important;
    display: table !important;
    position: relative !important;
}

.form-group.has-warning .fileinput .uneditable-input {
    width: 150px !important;
}

.text-right {
    text-align: right;
}

.form-group.has-error .fileinput .uneditable-input {
    width: 150px !important;
}

.form-group.has-success .fileinput .uneditable-input {
    width: 150px !important;
}

.fileinput .uneditable-input,
.fileinput-new .input-group .btn-file {
    width: 150px !important;
}

.modal-backdrop {
    z-index: 100 !important;
}

.modal-open .modal {
    z-index: 1001 !important;
}

a {
    cursor: pointer;
}

.modal-footer {
    margin-top: 0px !important;
}

.dataTables_wrapper .dataTables_info {
    width: 30%;
    float: left;
}

.dataTables_wrapper .dataTables_paginate {
    width: 70%;
}

body {
    min-width: 1028px !important;
}

.select2 {
    visibility: visible;
    width: 100%;
}

.select2-container--open .select2-dropdown {
    left: 0;
    top: 0;
}

.select2-container .select2-selection--single {
    height: 34px;
}

.datepicker.dropdown-menu {
    z-index: 99999 !important;
}

.dataTables_wrapper .dataTables_paginate {
    width: auto !important;
    border: none !important;
}

.dataTables_wrapper {
    border: none !important;
}

.dataTables_wrapper>div {
    padding: 0 !important;
}

.dataTables_wrapper>table.dataTable.no-footer,
.DTFC_ScrollWrapper {
    top: 15px;
    position: relative;
    margin-bottom: 10px;
}

table.dataTable.no-footer {
    border: none !important;
}

.datatable {
    width: 100% !important;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border: none !important;
}

.DTFC_LeftBodyLiner th.sorting_desc:after,
.DTFC_LeftBodyLiner th.sorting_asc:after {
    display: none !important;
}

.DTFC_RightWrapper {
    right: 0 !important;
}

.DTFC_Blocker {
    background-color: white;
}

.DTFC_RightBodyLiner th:after,
.DTFC_RightBodyLiner th.sorting_desc:after,
.DTFC_RightBodyLiner th.sorting_asc:after {
    display: none !important;
}

.col-md-15 {
    width: 20%;
    padding: 0 15px;
    float: left;
}

.col-md-14 {
    width: 40%;
    padding: 0 15px;
    float: left;
}

.dataTables_wrapper>table.dataTable.no-footer {
    border: 1px solid #ebebeb !important;
}

.morris-hover {
    z-index: 1px !important;
}

.page-container.sidebar-collapsed .sidebar-menu #main-menu>li>ul {
    z-index: 9999 !important;
}

a.blue {
    color: blue !important;
}

.error {
    border: 1px solid red !important;
}

.table_modify td {
    vertical-align: middle !important;
}

thead th {
    vertical-align: middle !important;
    text-align: left !important;
}

tbody>tr>td {
    vertical-align: middle !important;
}
td.highlight {
    background-color: whitesmoke !important;
}
thead tr{
    background: #F953B6;
    color: white;
}
.dataTables_filter {
    display: none;
}